<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div id="welcome">
    <h1>Welcome to CSE Motors!</h1>
    <div id="dmc-delorean">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders<br> 
           Superman doors<br> 
           fuzzy dice!<br>
        </p>
        <img src="/images/site/own_today.png" alt="Today picture">
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="Car Delorean">
</div>
<div id="secondPart">
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="frame">
            <img class="picture1" src="/images/upgrades/flux-cap.png" alt="Flux Capacitor imagen">
            <a class="a1" href="">Flux Capacitor</a>
            <img class="picture2" src="/images/upgrades/flame.jpg" alt="Flame Decals imagen">
            <a class="a2" href="">Flame Decals</a>
            <img class="picture3" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers imagen">
            <a class="a3" href="">Bumper Stickers</a>
            <img class="picture4" src="/images/upgrades/hub-cap.jpg" alt="Hub Caps imagen">
            <a class="a4" href="">Hub Caps</a>
        </div>    
    </div>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Mcfly!" (5/5)</li>
            <li>"The most fururistic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>
</html>
